<% if @messages.present? %>
  <% @messages.each do |message| %>
    <%= raw show_message(message) %>
  <% end %>
  <div class="pagi"><%= paginate @messages %></div>
<% else %>
  还没有人留下痕迹，快来抢沙发哦！！！！！！
<% end %>
