wp
*.log
!.gitignore
!.gitkeep
/nbproject/
db/schema.rb
db/tuan800_db_schema.rb
db/structure.sql
.DS_Store
*.DS_Store
.project
.agignore
log/*
tmp/*
tmp/**/*
config/database.yml
config/memcached.yml
config/debug_database.yml
config/resque.yml
config/taobao_api.yml
config/bunny.yml
config/unicorn.rb
config/unicorn_init.rb
db/*.sqlite3
doc/api
doc/app
.bundle
.rvmrc
.rspec
*.vim
.idea/
/tags
db/transfer.sql
Gemfile.local
public/uploads
config/local.rb
config/recipes/production.rb
config/settings.local.yml
config/settings/*.local.yml
config/settings/**/*.local.yml
config/environments/*.local.yml
config/settings/support800/*.local.yml
vendor/bundle/
config/newrelic.yml
config/grid_fs.yml
config/mongoid.yml
config/sidekiq*.yml
config/redis.yml
config/alimama.yml
god/local_resque.god
script/local/*
*.swp
*.swo
*.swn
*~
*.swk
*.swm
*.swl
tmtags
tmtagsHistory

.ruby-gemset
.ruby-version
/.git-rewrite/
/config/shards.yml
config/sunspot.yml
.tags
.tags_sorted_by_file
dump.rdb

coverage/

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
