<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <%= link_to "edit", edit_user_path(user) %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "删除", user, method: :delete, data: { confirm: "确认删除此用户？" } %>
  <% end %>
</li>
