<div class="login_success_container">
  <p><div class="red">恭喜您注册成功！！！</div></p>
  <p>我们已经给您的注册邮箱 <%= @user.email %> 发送了验证邮件，请登录您的邮箱以激活此帐号</p>
  <p class="red">友情提示：本站发送的邮件可能被您的邮件系统移送到垃圾邮件中，如果您的收件箱没有邮件，您应该到垃圾邮件中看看</p>
</div>
