<div class="user">
  <h2>关于作者</h2>
  <p class="doc">一个半吊子ruby on rails程序员，现就职于某声称:"<span class="white">强烈反对员工加班的</span>"互联网公司。拥有一个被员工公开称赞为:"<span class="white">这辈子遇到的最不抠门</span>的老板"&nbsp;&nbsp;<%= link_to "更多信息", me_path %></p>
  <p class="rss"><%= link_to '订阅本站', '#' %></p>
  <p>联系作者：Edward_mjz@hotmail.com</p>
</div>
