<% provide :title, "关于本站" %>
<% content_for :h1 do %>关于本站<% end %>
<% content_for :info do %>点点滴滴<% end %>
  <div class="rows">
    <h3>开始</h3>
    <p>很早就想做一个自己的技术博客，2013年十一长假的时候在纸上比比划划，有个一个所谓的设计，当时已经入职3个月，但是对一些技术还不是很熟练，于是一边调研一边做，经过几个月的时间（实际开发时间可能只有几十个小时），网站上线。</p>
    <h3>技术</h3>
    <p>前端使用了bootstrap 3，刚开始用的bootstrap 2,后来又改成gem的方式引用，后来又改成手动引用3，新版本的改动还是不小，最让人眼前一亮的是“扁平化”，每一个后端开发人员都应该熟悉一种或几种前端框架，这会让你减少很多麻烦，而bootstrap无疑是最全面/强大/成熟的框架之一，在此再推荐一个前端框架:FlatUI，有兴趣的同学可以摸索一下。</p>
    <p>js代码不多，凡是需要自己写的都写成了coffee，之前用coffee重构过一些代码，因为平时工作很少用到，所以等再用时竟然忘了许多，只有重看了一边doc。职业ruby的同行都应该学一下coffee，它借鉴了ruby的语法和python的缩进，有人评价为“诗一样的语言”</p>
    <p>后端使用ruby语言在rails框架上开发，使用了大量的Gem，使用capstrano部署，使用nginx作服务器，在Godaddy上注册了这个域名，在digitocean上购买了VPS，使用DNSPod作域名解析<p>
    <p>开发过程中遇到了一些技术问题，都是之前没遇到过的，比如新建日志仿照了QQ空间，这里面的设计可以说是完全抄袭，通过富文本编辑控件上传的图片保存在mongodb里，在此推荐一个gem: rails_kindeditor</p>
    <p>数据库使用了mysql和mongoDB，项目目前有8张表，未来这个数字还会继续增长，在数据库设计上还是费了很多心思，对于一个项目来说，数据库设计是最重要的，如果一开始设计就有问题，那么未来会在错误的路上越走越远。博客的图片资源都保存在mongoDB里，做这个博客项目也学会了很关于mongo的东西</p>
    <p>图片处理使用carrierwave和minimagick</p>
    <p>推荐zen-coding，这玩意只要学会了，以后写html不用都不习惯</p>
    <h3>筹备中</h3>
    <p>目前还有很多尚在筹备中的功能，一些功能已经开发完成，但是因为一些运营问题（说得好像挺牛X似的）,暂时不准备开放出去，比如让每个注册了的用户写自己的日志等等，以后还会添加更多有意思的东西，用到有意思的技术，希望大家持续关注</p>
    <p>项目的后台极其凌乱，或者说没有一个成熟的后台，这个的优先级一定是最高的，会尽快完成</p>
    <p>没有敏感词过滤系统，即现在博客/留言是可以留敏感词的，但是请大家<span class="red">一定不要尝试</span>，这个功能需求可能要费些工夫，后面再开发</p>
    <p>项目的测试刚开始还可以跑通，后来就跑不通了，再后来跑不通的越来越多，再后来索性不写单元测试了，这不是个好现象，到现在为止，对rails的测试还是一知半解，急需提高。注：到2014年5月1日时，以补大量测试，会再写更多测试。</p>
    <p>代码暂时不开源，等项目成熟了后会把它开源出去，感兴趣的朋友可以关注一下</p>
    <h3>结束</h3>
    <p>引用论语中的一段：子贡倦于学，告孔子曰：愿有所息。子曰：生无所息。人只要活着，就要不停的学习，这个博客的开发，永远不会结束</p>
    <h3>鸣谢</h3>
    <p>感谢渊格格的技术支持，他对这个项目提供了很多意见和建议，上面推荐的rails_kindeditor也有他贡献的一部分代码，也是他教会了我购买域名/VPS/解析等等;龙哥对项目的数据库设计提供了很多指导，经常指点我技术问题;感谢公司的同事，他们的一些技术分享给了我很多的启发的思考</p>
    <p>最后感谢dota，篮球，和一些闲扯的事，没有它们这个网站可能会提前4个月上线</p>
  </div>
