<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>About xingishere</title>
    <meta name="title" content="rails blog" />
    <meta name="viewport" content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="description" content="xingishere.com">
    <meta name="author" content="周星">
    <link href="/impress/impress.css" rel="stylesheet">
    <link rel="shortcut icon" href="/images/icon.png" />
    <style type="text/css">
      img {border-radius: 50%; height: 100px; width: 100px;}
      .images { margin-top: 80px; }
      .images img{ margin-right: 70px; }
    </style>
  </head>
  <body class="impress-not-supported">
    <div class="fallback-message">
      <p>Your browser <b>doesn't support the features required</b> by impress.js, so you are presented with a simplified version of this presentation.</p>
      <p>For the best experience please use the latest <b>Chrome</b>, <b>Safari</b> or <b>Firefox</b> browser.</p>
    </div><!-- fallback-message  -->
    <div id="impress">
      <div id="think" class="step" data-x="1000" data-y="-1500">
        <q><p>Jan 1st 2015 PM 14:03</p>
          <p><strong>turn off</b> computer and start thinking</strong>
          <p>write some sentences to <strong>xingishere</strong></p></q>
      </div>

      <div id="ing" class="step" data-x="850" data-y="3000" data-rotate="270" data-scale="6">
        <p><b class="positioning">3052</b> lines code</p>
        <p><b class="rotating">163</b> unit tests</p>
        <p><b class="scaling">11</b> mysql DB tables</p>
      </div>

      <div id="tech" class="step" data-x="2000" data-y="1800" data-rotate="90" data-scale="5">
        <p>ruby on rails coffeescript bootstrap mysql memcached capstrano unicorn nginx newrelic GA Github</p>
      </div>
      <div id="big" class="step" data-x="100" data-y="150" data-rotate="90" data-scale="5">
        <p><strong>countless</strong> days and nights<b>hard</b><span class="thoughts">working</span></p>
      </div>

      <div id="help" class="step" data-x="3500" data-y="3000" data-rotate="0" data-scale="5">
        <p>so many <strong>friends</strong> selfless help</p>
        <div class="images">
          <img src="/images/zhangyuan.jpg" alt="zhangyuan" />
          <img src="/images/houxiaolong.jpg" alt="houxiaolong" />
          <img src="/images/zhonghua.jpg" alt="zhongfox" />
          <img src="/images/huhongda.jpg" alt="huhongda" />
        </div>
      </div>

      <div id="without" class="step" data-x="200" data-y="1000" data-rotate="0" data-scale="5">
        <p>There will be <b>no</b> xingishere</p>
        <p><b>without</b> any of them</p>
      </div>

      <div id="its-in-3d" class="step" data-x="3500" data-y="-850" data-z="-100" data-rotate-x="-40" data-rotate-y="10" data-scale="3">
        <p>more and more tech blogs</p>
        <p>more and more donates</p>
        <p>more and more attentions</p>
      </div>

      <div id="more" class="step" data-x="3500" data-y="-1850" data-rotate="180" data-scale="6">
        <p>Encourage me to do more</p>
      </div>

      <div id="all" class="step" data-x="3500" data-y="-1850" data-rotate="180" data-scale="6">
        <p>to make <b>me</b> better</p>
        <p>to make <b>you</b> better</p>
      </div>

      <div id="more" class="step" data-x="3500" data-y="-1850" data-rotate="180" data-scale="6">
        <p>It is <b>xingishere</b></p>
      </div>

      <div id="happens" class="step" data-x="2825" data-y="2325" data-z="-3000" data-rotate="300" data-scale="1">
        <p>where <b>better</b> happens</p>
      </div>

      <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
      </div>

    </div><!-- impress -->
    <div class="hint">
      <p>Use a spacebar or arrow keys to navigate</p>
    </div>

    <script>
      if ("ontouchstart" in document.documentElement) { 
        document.querySelector(".hint").innerHTML = "<p>Tap on the left or right to navigate</p>";
      }
    </script>
    <script type="text/javascript" src="/impress/impress.js"></script>
    <script>impress().init();</script>
  </body>
</html>
