<% provide :title, "接口文档" %>
<% content_for :h1 do %>接口文档<% end %>
<% content_for :info do %>下面是API路由列表，包括参数说明<% end %>
<table class="table">
  <tr>
    <th>name</th>
    <th>method</th>
    <th>url</th>
    <th>params</th>
  </tr>
  <tr>
    <td>home</td>
    <td>GET</td>
    <td>http://xingishere.com/cn/home.json</td>
    <td>无</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
