<% provide :title, "关于作者" %>
<% content_for :h1 do %>关于作者<% end %>
<% content_for :info do %>想做一手好菜，作一首好诗<% end %>
  <div class="row pt10 f16">
    <div class="col-sm-7">
      <p>周星，阳历1990年生，吉林四平人，生肖蛇，摩羯座，2009年毕业于成都信息工程学院，专业计算机科学与技术，身高约<span class="red">170cm</span>，现工作于成都高新区孵化园某互联网公司，全职ruby程序员，菜鸟一个，正在努力中</p>
      <p>喜欢足球和篮球，已有10年的看球经验，曾经曼联/巴萨球迷，现因工作/转播时间原因多看利物浦/阿森纳比赛，火箭/热火球迷;金庸迷</p>
      <p>大学时练了三年跆拳道</p>
      <p>喜欢朴智星/小小罗（是曾经的C罗，不是现在的C罗）</p>
      <p>喜欢吉尔博特.阿里纳斯/勒布朗.詹姆斯</p>
      <p>喜欢张学友/周杰伦</p>
      <p>喜欢金庸原著里的林平之/小玄子（康熙）</p>
      <p>QQ：<span class="red">317583395</span></p>
    </div>
    <div class="col-sm-5">
      <div class="w300">
        <iframe width="100%" height="450" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=450&fansRow=2&ptype=1&speed=0&skin=1&isTitle=1&noborder=1&isWeibo=1&isFans=0&uid=2723667581&verifier=c0b09ef7&dpc=1"></iframe>
      </div>
    </div>
  </div>
  <%= render_ga %>
