<% provide :title, "个人简历" %>
<% content_for :h1 do %>个人简历<% end %>
<div class="r_content">
  <table cellspacing="0" class="table">
    <tr>
      <td width=100>姓名：</td>
      <td>周星</td>
    </tr>
    <tr>
      <td>性别：</td>
      <td>男</td>
    </tr>
    <tr>
      <td>出生日期：</td>
      <td>1990年01月13日</td>
    </tr>
    <tr>
      <td>籍贯：</td>
      <td>吉林省四平市</td>
    </tr>
    <tr>
      <td>最高学历：</td>
      <td>本科 | 成都信息工程学院 | 计算机科学与技术专业 | 学士学位</td>
    </tr>
    <tr>
      <td>毕业时间：</td>
      <td>2013年7月</td>
    </tr>
    <tr>
      <td>工作经历：</td>
      <td>2012年7月至2012年11月，实习于索贝数码，职位为前端开发工程师；<br />2013年5月至今，工作于成都团博百众（团800），职位为ruby开发工程师</td>
    </tr>
    <tr>
      <td>个人技能：</td>
      <td>
        前端开发：大学期间致力钻研前端，熟悉各种前端技能，力求书写规范、高效的前端代码，熟悉浏览器兼容，对html5及nodeJS有浓厚兴趣，熟练掌握bootstrap，熟悉coffeescript，最近想学习angularJs；
        <br />
        ruby开发：毕业后正式开始ruby开发，经过近一年的学习，现熟练书写ruby on rails程序，熟悉<a href="http://guides.rubyonrails.org/v3.2.13/">rails guides</a>所述内容，熟练掌握各种gem；
        <br />
        linux：熟悉linux系统的各种操作、命令
        <br />
        git：熟悉git的各种操作
        <br />
        其它：熟悉mysql、mongodb、redis，熟悉如何在ruby on rails中使用它们。熟悉nginx服务器，部署过线上环境
      </td>
    </tr>
  </table>
  <!--
  <p>姓名：周星</p>
  <p>性别：男</p>
  <p>出生日期：1990年01月13日</p>
  <p>籍贯：吉林省四平市</p>
  <p>最高学历：本科 | 成都信息工程学院 | 计算机科学与技术专业 | 学士学位</p>
  <p>毕业时间：2013年7月</p>
  <p>工作经历：</p>
  -->
</div>
