<% provide :title, "个人简历" %>
<% content_for :h1 do %>个人简历<% end %>
<div class="r_content">
  <table cellspacing="0" class="table">
    <tr>
      <td width=100>姓名：</td>
      <td><a href="http://www.xingishere.com/xingge" target="_blank">周星</a></td>
      <td width=100>性别：</td>
      <td>男</td>
    </tr>
    <tr>
      <td>出生日期：</td>
      <td>1990年01月13日</td>
      <td>籍贯：</td>
      <td>吉林省四平市</td>
    </tr>
    <tr>
      <td>最高学历：</td>
      <td colspan="3">本科 | 成都信息工程学院 | 计算机科学与技术专业 | 学士学位</td>
    </tr>
    <tr>
      <td>毕业时间：</td>
      <td>2013年7月</td>
      <td>婚姻状况：</td>
      <td>未婚</td>
    </tr>
    <tr>
      <td>求职意向：</td>
      <td>Ruby开发工程师</td>
      <td>目前状态：</td>
      <td>观望更好机会</td>
    </tr>
    <tr>
      <td>联系电话：</td>
      <td>15881161182</td>
      <td>电子邮箱：</td>
      <td><a href="mailto:Edward_mjz@hotmail.com">Edward_mjz@hotmail.com</a></td>
    </tr>
    <tr>
      <td>外语水平：</td>
      <td colspan="3">大学英语四级（515分），听说读写流利，熟练阅读英文技术文档</td>
    </tr>
    <tr>
      <td>工作经历：</td>
      <td colspan="3">2012年7月至2012年11月，实习于索贝数码，职位为前端开发工程师；<br />2013年5月至今，工作于成都团博百众（团800），职位为ruby开发工程师。</td>
    </tr>
    <tr>
      <td>个人技能：</td>
      <td colspan="3">
        <p class="fb">1.前端开发：</p>
        <p>大学期间全力钻研前端，熟悉各种前端技能，力求书写规范、高效的前端代码，熟悉浏览器兼容，善用JavaScript语言、jQuery框架实现网页特效和用户交互体验。精通HTML+CSS网页布局与样式，熟悉W3C标准，了解网页中SEO的一些基本理念。熟练使用firebug、hostadmin、Yslow等调试工具；对html5及nodeJS均有了解，熟练掌握bootstrap、coffeescript，喜欢zencoding。</p>
        <p class="fb">2.ruby开发：</p>
        <p>毕业后正式开始ruby开发，经过一年多的工作和学习，现已熟练书写ruby on rails程序，并已开始追求优雅、精简的代码，熟悉 <a href="http://guides.rubyonrails.org/v3.2.13/">rails guides</a> 全部内容；熟悉Rails中的各项配置、调试Rails程序、缓存、I18N、rake任务等；熟练掌握各种gem如：carrierwave、 minimagic、 spreadsheet、 mechanize、selenium-driver、omniauth、 kaminari、 rails_config、 capistrano等，熟练掌握rspec、factory_girl、capybara；熟练书写model层测试及集成测试。熟悉ruby元编程。了解敏捷开发，持续集成，熟悉项目自动化及抓取；熟悉Rails程序的部署。喜欢逛 <a href="http://www.ruby-china.org" target="_blank">ruby-china</a>。看过《ruby on rails tutorial》、《everyday rails rspec》、《ruby元编程》等经典ruby书籍</p>
        <p class="fb">3.linux：</p>
        <p>大二时开始玩linux，刚开始玩ubuntu，后来玩各种linux系统如redhat, centos等，熟练安装配置linux，熟悉linux系统的各种基本操作如ssh, sftp, curl，熟联掌握各种常用linux命令</p>
        <p class="fb">4.git：</p>
        <p>熟悉git的各种操作</p>
        <p class="fb">5.VIM：</p>
        <p>vim党，玩转vim，配合zencoding，开发效率极高，让人眼花缭乱</p>
        <p class="fb">6.IOS：</p>
        <p>业余时间学习了swift语言及ios开发，并已拥有基本IOS应用开发能力，但是只作为兴趣，无职业倾向</p>
        <p class="fb">7.其它：</p><p>熟悉mysql、mongodb、redis、memcached，nginx，了解他们在各系统(linux、mac)上的安装、部署、配置及如何在rails中使用它们，可以独立搭建开发、部署环境。</p>
      </td>
    </tr>
    <tr>
      <td>项目经验：</td>
      <td colspan="3">
        <p>外包项目：在校时即开始接手外包项目，全部都是前端工作，如当时<a href="http://www.hr028.com.cn/Index.aspx" target="_blank"> 天府人才行动 </a>的部分页面，2012年9.28校园招聘等大型活动网站。</p>
        <p>实习项目：1.在索贝公司实习期间，独立完成某中型BS系统的跨平台（浏览器兼容），此系统为07年完成，专为IE7设计，甚至用到了IE的怪异模式，由于完成仓促，代码质量一般，加上各种嵌套的iframe，给重构带来不小的难度，最后边学边做艰难完成，此项目让个人的前端能力得到飞跃，对css、js的浏览器兼容及如何设计能力均有了很大程度的提高。2.独立完成一小型BS项目1.0版本，此项目功能为通过浏览器修改、新建XML配置文件，从设计到开发均有本人独立完成</p>
        <p>毕业设计：题目为基于ROR的在线订餐系统，是一年前刚学习rails时做的第一个项目，从前端界面到Rails均独立开发，项目中还使用到了html5的geolocation，界面让人耳目一新，功能十分新颖，让老师和同学们震惊不已。</p>
        <p>工作项目（<span class="red">重要</span>）：</p>
        <p>1: OA系统</p>
        <p>OA系统是我入职时的第一个项目，第一部分为组织架构系统，本人的角色为前端开发工程师（实习），配合ruby工程师完成项目，通过这个项目了解了软件开发的流程及web开发前后端工程师如何配合。后来在业余时间将700余行的js代码用coffeescript重构，代码量减少了一半；第二部分为请休假系统，目的是为了方便人事部门管理员工的请休假信息，减少人力资源浪费，这个项目作为第一个rails项目，主要做一些套模板的工作，并未接触到核心算法；第三部分为考勤系统，考勤系统直接与打卡机对接，实现了打卡信息导入、自动计算、分析、统计，在这个项目中我主要做一些套页面、配合UED、写controller的工作。整个OA项目持续了近四个月，实现了办公自动化，整个项目至今良好运行，但由于开发时间紧迫加工程师的技能不成熟，代码质量不佳。通过这个项目看到了软件开发过程中的一些问题，并从中吸取了教训，也正是从这个项目开始正式踏上了rails开发的道路</p>
        <p>2: 折800</p>
        <p>作为全国最大的导购网站，折 800无需赘述，2014年后开始正式接触折 800，参与了多个项目的开发，个人技术开始愈发成熟，从导出各种运营数据到逛频道、消息系统、后台搜索统计、游戏项目等。从一个只能套界面的小兵到一个可以做复杂逻辑、关注性能的“大兵”</p>
        <p>3: <a href="http://xingishere.com" target="_blank">xingishere.com</a></p>
        <p>此网站为个人博客网站，上线时同事对此好评如潮，本人对此网站有着极大的感情，并一直在开发、优化，本人坚持做了很多web开发知识的分享，帮助了别人，又锻炼了自己，关于本站详情您 <a href="http://www.xingishere.com/about" target="_blank" class="fb">请看这里</a></p>
      </td>
    </tr>
    <tr>
      <td>个人总结：</td>
      <td colspan="3">对开发有浓厚兴趣，自学能力强，上进心强，态度端正。要成为技术最强的人，需要天分、运气和努力，我可能无法成为那样的人，但是我一定是最努力的那个人。</td>
    </tr>
    <tr>
      <td>所获荣誉：</td>
      <td colspan="3">CET4、二等奖学金（两次）、三等奖学金（一次）、优秀学生干部（一次）、校级优秀毕业生</td>
    </tr>
    <tr>
      <td>求职期许：</td>
      <td colspan="3">团队技术氛围极好，无过多流程、形式主义，鼓励员工与公司共同进步。</td>
    </tr>
  </table>
</div>
