<% @link_category.each do |category| %>
  <div class="rows">
    <h3><%= category.category %></h3>
    <ul class="list-inline">
      <% category.links.each do |link| %>
        <li><a href=<%= link.href %> target="_blank" data-toggle="tooltip" data-original-title=<%= link.description %> ><%= link.title %></a></li>
      <% end %>
    </ul>
  </div>
<% end %>
<script type="text/javascript">
  $(function(){
$(".list-inline li a").tooltip()
      })
</script>
