<% provide :title, "发生了一些错误。。。" %>
<div class="rows">
  <div class="box" style="width: 70%;margin:0px auto;">
    <img src="/images/programmer.jpg" alt="" class="fl">
    <p class="f16 mt40 mb40 ml20">万恶滴程序猿造成了一些错误。。。</p>
    <p class="f16 mt40 mb40">您可以<%= link_to '返回主页', root_path, class: "btn btn-primary ml10" %><%= link_to '查看博客', blogs_path, class: "btn btn-primary ml10" %></p>
    <p class="f16 mt40 mb40 ml20">发送 BUG 给<a href="mailto:Edward_mjz@hotmail.com" class="ml5 mr5">Edward_mjz@hotmail.com</a>有意外惊喜</p>
  </div>
</div>
