<ul class="nav nav-tabs">
  <li <%= action_name == 'profile' ? 'class=active' : '' %>>
    <%= link_to '个人资料', base_path %>
  </li>
  <li <%= action_name == 'advanced' ? 'class=active' : '' %>>
  <%= link_to '高级资料', advanced_path %>
  </li>
</ul>
