@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing
}


html{overflow-y: scoll;}
body{padding-top: 60px;}
section{overflow: auto;}
textarea{resize: vertical;}
.center{ text-align: center;}
.center h1{ margin-bottom: 10px;}

/* index界面 */
.users{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #333;
    &:last-child {
      border-bottom: 1px solid #333;
    }
  }
}

/* 博客 */
.blogs {
  list_style: none;
  margin: 10px 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: #333;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside{
  textarea{
    height: 100px;
    margin-bottom: 5px;
  }
}
