@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing
}


html{overflow-y: scoll;}
body{padding-top: 60px;}
section{overflow: auto;}
textarea{resize: vertical;}
.center{ text-align: center;}
.center h1{ margin-bottom: 10px;}

/* index界面 */
.users{
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid #333;
    &:last-child {
      border-bottom: 1px solid #333;
    }
  }
}

/* 博客 */
.blogs {
  list_style: none;
  margin: 10px 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: #333;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside{
  textarea{
    height: 100px;
    margin-bottom: 5px;
  }
}

/* 总体css */
.info { font-size: 16px; padding: 10px 10px 0px; text-align: left; border-bottom: 1px solid #e5e5e5; }
.info h1 { font-size: 30px; font-weight: normal; color: #563d7c; }
.info p { color: #333; margin-bottom: 10px; padding-bottom: 10px;}
.title { font-weight: normal; }
form fieldset { margin-top: 10px; margin-bottom: 10px; }
.user h2 { text-align:center; font-size: 18px; border-bottom: 1px solid #e5e5e5;padding-bottom: 8px; }
.user p { font-size: 16px; line-height: 24px; }
.user .doc { text-indent: 2em; }
.rss{ font-size: 16px; font-weight: bold; margin-top: 18px; }

/* 首页样式 */
.caption .underline {font-size: 24px;border-bottom:1px solid #e5e5e5;}
.caption h3 a{ color: #333; font-weight: 500; line-height: 1.1;}
.blog{border: 1px solid #DDDDDD; border-bottom-style:0px none #000; border-radius: 5px 5px 0 0;padding-bottom:40px;}
.blog_info{color:#999;}

/* 新建和编辑日志样式 */
#blog_title{width: 670px; text-align: center;}
#blog_content{width: 680px; padding:0;margin:0px;}
.span8{padding:0px;margin:0px;}

/* blog的show页面 */
.blog .title{color: #333; font-weight: 500; line-height: 1.1;font-size:30px;width: 670px; text-align:center;border-bottom: 1px solid #e8e8e8; padding-bottom: 5px;}
.blog .content{margin-top: 18px; padding: 0 0 0 8px;}

