@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing
}


html{overflow-y: scoll;}
body{padding-top: 60px;}
section{overflow: auto;}
textarea{resize: vertical;}
.center{ text-align: center;}
.center h1{ margin-bottom: 10px;}
