// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  border: none;
  position: relative;
  background-color: rgba(0,0,0,0.2);;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  text-align: center;
  width:100%;
  height:100%;
  min-height: 540px;
  color: #fff;
}
.desc-wrapper {
  margin-top: 160px;
}
.desc-wrapper p {
  font-family: "futura-pt";
  font-size: 22px;
  line-height: 1.3em;
  text-transform: none;
  letter-spacing: 4px;
  font-weight: 300;
  font-style: normal;
  color: #fff;
  margin: 20px auto;
  -webkit-transform: translatez(0);
}
.desc-wrapper img {
  margin-top: 60px;
}
.desc-wrapper .links {
  margin-top: 60px;
}
.links a {
  -webkit-border-radius: 300px;
  border-radius: 1.5em;
  border: 2px solid #fff;
  font-size: 16px;
  color: #fff;
  padding: 14px 30px 15px;
  text-decoration: none;
  font-family: adelle-sans,sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  outline: 0;
}
.links a:hover {
  background-color: rgba(255,255,255,.2);
}
.title-bordered{
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: .1em;
  color: #5f5e5b;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 19px;
  margin-top: 45px;
  position: relative;
}
.title-bordered:before{
  margin: auto;
  content: "";
  width: 20px;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e2e2e2;
}
.blockquote{
  font: 400 italic 28px/1.348 "freight-text-pro",serif;
  text-transform: none;
  letter-spacing: 0;
}
.post_h2{
  font-size: 4rem;
  line-height: 1.2em;
  letter-spacing: -1px;
  margin-top: 0px;
}
.post {
  font-family:'Open Sans','helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei','Microsoft YaHei UI Light',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
  border-bottom: #EBF2F6 1px solid;
  padding: 0 0 40px 0px;
  margin: 40px 0 0px 0;
  position: relative;
}
.post:after{
  display: block;
  content: "";
  width: 7px;
  height: 7px;
  border: #E7EEF2 1px solid;
  position: absolute;
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  background: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  box-shadow: #fff 0 0 0 5px;
}
.post-meta a {
  color: #9EABB3;
  text-decoration: none;
}
.post_h2 a {
  font-size: 3rem;
  color: #50585D;
  text-decoration: none;
}
.post_h2 a:hover {
  color: #000;
}
.post .content {
  margin: 1.6rem 0 0 0;
  font-size: 1.2em;
  line-height: 1.6em;
}
.post-meta{
  display: inline-block;
  margin: 0 0 5px 0;
  font-size: 1.5rem;
  color: #9EABB3;
}
#subscribe_email {
  border: none;
  width: 84%;
  line-height: inherit;
  bottom: 0;
  text-indent: 10px;
  font-size: inherit;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px 0px 0px 5px;
  outline: none;
  vertical-align: bottom;
}
