<% title "编辑日志" %>
<div class="blog">
  <div class="legend">
    <h3>编辑日志</h3>
  </div>
  <%= form_for(@blog, url: admin_blog_path) do |f| %>
    <%= render partial: "form", locals: { f: f } %>
  <% end %>
</div>
<p>
  <%= link_to "Show", @blog %> |
  <%= link_to "返回查看所有日志", blogs_path %>
</p>
