<% title "新建日志" %>
<div class="blog">
  <div class="blog panel panel-default">
    <div class="panel-heading">
      <span>新建日志</span>
      <%= link_to "返回博客列表", blogs_path, class: "pull-right" %>
    </div>
    <%= form_for(@blog, url: admin_blogs_path) do |f| %>
      <%= render "form", f: f %>
    <% end %>
  </div><!-- panel panel-default -->
</div><!-- blog -->
